body{
    background-color:rgb(20, 180, 220);
}
.container{
    width:600px;
    padding: 15px 10px 15px 27%;
}
h1{
    font-size: 40px;
    text-align: center;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.col{

    width: 48%;
}
select,input{
    width: 80%;
    margin-bottom: 15px;
    font-size: 20px;
    padding: 8px 15px ;
    font-weight: 500;
}
button{
    width: 200px;
    display: block;
    padding: 10px;
    margin: 0 auto;
    border: 10px;
    background-color: burlywood;
    color: blueviolet;
    border:0;
    cursor:pointer;
}
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #f5f5f5;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar h2 {
    padding: 10px;
    text-align: center;
  }
  
  .sidebar button {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    background-color: transparent;
    border: none;
    color: #000;
    cursor: pointer;
  }
  
  #closeSidebar {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    background-color: transparent;
    border: none;
    color: #000;
    cursor: pointer;
  }
  
  #closeSidebar:hover {
    color: red;
  }
  
  #checkRateButton {
    position: fixed;
    top: 20px;
    right: 20px;
  }

@media screen and (max-width: 415px) {
    .container {
        width: 90%; 
        padding: 10px; 
    }
  
    h1  {
        font-size: 15px; 
        padding: 10px;
      
    }
  
    select, input {
        width: 100%; 
    }
  
    button {
        width: 100%; 
        margin-top:10px;
        margin-bottom: 30px; 
    }
  
    p {
      font-size: 12px;
    }
  
    .col input {
      width: 100%; /* Adjusted to full width */
    }
  
    .col select {
      width: 100%; /* Adjusted to full width */
    }
  
    .sidebar {
        width: 100%; /* Adjusted to full width */
        padding-top: 20px; 
    }
  
    .sidebar button, #closeSidebar {
        top: 10px; 
        right: 10px; 
        font-size: 24px; 
    }
  
    #checkRateButton {
        display: block; 
    }
  
    .conversion-list {
        display: block; 
        padding: 10px;
    }
  }
  

  